body {
	font-size: 25px;
	color: white;
	background-color: #DAA520;
	font-family: Arial, Helvetica, sans-serif;
}

.ring{
	border-radius: 141px;
	border: 3px;
}
p {
	text-align: center;
}
h1 {
	text-align: center;
}